{{- $machine := index (index . "machines" | default dict) (.machine_name | default "") | default dict -}}
{{- $machineClass := index $machine "machine_class" | default "" -}}
{{- if eq $machineClass "work" -}}
{{- include (joinPath .chezmoi.sourceDir "dotfiles_private" "gitconfig.work") -}}
{{- end -}}
