{{- $machineName := .machine_name | default "" -}}
{{- $machine := index (.machines | default dict) $machineName | default dict -}}
{{- $workplace := index $machine "workplace" | default "" -}}
[user]
	name = "alik-git"
{{- if eq $workplace "work" }}
	email = "alikgithb@gmail.com"
{{- else }}
	email = "alikgithb@gmail.com"
{{- end }}
