[user]
	name = "alik-git"
{{ $machine := index .machines .machine_name -}}
{{ $workplace := (index $machine "workplace") | default "" -}}
{{ if eq $workplace "work" -}}
	email = "alikgithb@gmail.com"
{{- else -}}
	email = "alikgithb@gmail.com"
{{- end }}
